@model IEnumerable<Vroemmm.Models.CalendarModel>

@{
    ViewBag.Title = "Selecteer de kalender die je wilt gebruiken";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "SelectEvents", new { calendarId = item.Id })
        </td>
    </tr>
}

</table>
